:root {

    /*Fonts*/
    --1-headline-font: cache;
    --2-body-font: AST;
    --2-font-size: 4vh;

    --shadow: 1px 1px 2px var(--color-three), 2px 2px 17px var(--color-three);

    /* Backgrounds and borders */
    --color-two: #000;
    --color-three:rgb(52, 255, 187);
    --screenColor: rgb(4, 21, 31);  
}


@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'AST';
    src: url('./AcPlus_AST_PremiumExec.ttf');
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    font-family: var(--2-body-font);
    font-size: var(--2-font-size);
    color: var(--2-font-color);
    background-image: url(../images/maxresdefault.jpg);
    background-position: center;
       background-size: 100vw;
       background-color: black;
}    

#whole-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    backdrop-filter: blur(12px);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 8vh;
    line-height: 0.1;
    letter-spacing: 4vh;
    font-family: var(--1-headline-font);
    color: yellow;
    text-shadow: 2px 2px 0px var(--color-two), 3px 3px 0px var(--color-two), 2px 2px 5px var(--color-two);

}

main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.gutter {
    flex-basis: 15%;
    flex-shrink: 3;
}

#displayCard {
    display: flex;
    flex-direction: column;
    line-height: 1;
    justify-content: center;
    background-color: var(--screenColor);
    width: 60vw;
    height: 100%;
    border-radius: 5vh;
    box-shadow: var(--shadow);
    color:var(--color-three);
    margin: 0;
    flex-basis: 70%;
    
    
}

#cardHeader { 

    display: flex;
    
    justify-content: space-between;
    margin: 0 2vw 0 2vw;
    height: 20%;
}

#cardTitle {
    flex-wrap: wrap;
    min-width: 55%;
    padding-right: 1vh;
    flex-shrink: 1;
    flex-grow: 0;
}

#cardTime { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    
}

#cardTimeTitle {
    height: 40%;
    text-align: center;
    flex-shrink: 3;

}

#cardTimeValue {
    height: 50%;
    flex-shrink: 3;
}

#cardBody {
        
    height: 50%;
    margin: 0 2vw 0 2vw;
}

#cardFooter {
    display: flex;
    height: 15%;
    margin: 0 2vw 0 2vw;
    color:var(--color-three);
}

h2 {
    margin:0;
    color: var(--color-three);
    font-weight: normal;
}

input {
    color: var(--color-three);
    background-color: var(--screenColor);
    caret-color: var(--color-three);
    font-family: AST;
    font-size: var(--2-font-size);
    width: max-content;
    outline: none;
    border: none;
    box-shadow: none;

}

input:focus {
    border: none;
}

ul {

    list-style-type: none;
    width: max-content;

    position: relative;
    left: -2vw;

}

ul.scores {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li div {
    display: flex;
    justify-content: flex-end;
}

p {
   color:var(--color-three);
}

#highScoreContainer {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    padding: 2vw;
    

}

.users-inits,
.users-scores {
    display: flex;
    flex-direction: column;
    
    
}

.users-init-div,
.users-scores-div {
    min-width: 5vw;
    text-align: center;
}

.link {

    display: block;
    width: max-content;
}

.link.highlight {

    /* font-weight: bolder; */
    text-shadow: none;
    background-color: var(--color-three);
    color: var(--screenColor) !important;

}

#footerParagraph {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cardTime {
    margin: 0;
}

#cardTime p {
    margin: 0;
}

footer {
    display: flex;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}

.btn {
    border-radius: 50%;
    padding: 0.1vh;
    font-size: 2.2vh;
    margin: 0.7vh;
    box-shadow: 1px 1px 10px var(--color-two);
    height: 8vh;
    width: 8vh;
}

footer img {
    height: fit-content;
    max-height: 7vh;
}

#start-btn {
    background-color: yellow;

}

#stop-btn {
    background-color: rgb(108, 227, 231);
}

@media only screen and (max-width: 400px) {
    :root {
        --2-font-size: 2.7vh;
    }
 
    #cardTime {
        font-size: 80%;
    }
}