:root {

    /*Fonts*/
    --1-headline-font: cache;
    --1-font-size: calc( (( var(--swf) + var(--shf))/2) * 28px);
    --1-font-color: #fff;

    --2-body-font: AST;
    --2-font-size: calc( (( var(--swf) + var(--shf))/2) * 32px);
    --2-font-color: #9b9cb8;

    --shadow: 1px 1px 2px var(--color-three), 2px 2px 17px var(--color-three);

    /* Backgrounds and borders */
    --color-one: #243e90;
    --color-two: #000;
    --color-three:rgb(52, 255, 187);
    --color-four: #818997;
    
    /*  */
    /* Mobile First (latest iPhone First) Parameters */
    --swf: calc(375/375); /* Screen Width Factor */
    --shf: calc(812/812); /* Screen Height Factor */

    /* Dynamically adjusted sizing for non-flex containers */
    --iconS-size:  calc( (( var(--swf) + var(--shf))/2) * 35px);
  
}

/* * {
    border: 2px dotted rgb(0, 204, 255);
    background-color: rgba(35, 13, 160, 0.137);
}  */
  
@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'AST';
    src: url('./AcPlus_AST_PremiumExec.ttf');
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    font-family: var(--2-body-font);
    font-size: var(--2-font-size);
    color: var(--2-font-color);
    background-image: url(../images/maxresdefault.jpg);
    background-position: center;
       background-size: 100vw;
       background-color: black;
}    

#whole-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    backdrop-filter: blur(12px);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    line-height: 0.1;
    letter-spacing: 4vh;
    font-family: var(--1-headline-font);
    color: yellow;
    text-shadow: 2px 2px 0px var(--color-two), 3px 3px 0px var(--color-two), 2px 2px 5px var(--color-two);

}

footer img {
    height: fit-content;
    max-height: 7vh;
}

.btn {
        border-radius: 50%;
        padding: 0.1vh;
        font-size: 2.5vh;
        margin: 1vh;
        box-shadow: 1px 1px 10px var(--color-two);
        height: 12vh;
        width: 12vh;

    
}

#start-btn {
    background-color: yellow;

}

#stop-btn {
    background-color: rgb(108, 227, 231);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}


footer div {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80%;

}

#displayCard {
    display: flexbox;
    flex-direction: column;
    line-height: 1;
    justify-content: flex-start;
    background-color: rgb(5, 8, 27);
    width: 60vw;
    height: 100%;
    border-radius: 5vh;
    box-shadow: var(--shadow);
    color:var(--color-three);
}

h2 {
    margin: 6vh;
    font-size: 150%;
    color: var(--color-three);
    font-weight: normal;
}

input {
    background-color: var(--color-three);
    font-family: AST;
    font-size: var(--2-font-size);
    width: max-content;
}

ul {
    list-style-type: none;
    font-size: 70%;
    width: max-content;
    
}

#cardFooter {
    align-self: flex-end;

    width 80%;
    
    color:var(--color-three);
}



p {
   
    color:var(--color-three);
    margin: 55px;

}

#highScoreContainer {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    padding: 2vw;
    
    font-size: 100%;

}

.users-inits,
.users-scores {
    display: flex;
    flex-direction: column;
    
    
}

.users-init-div,
.users-scores-div {
    min-width: 5vw;
    text-align: center;
}

.link {

    display: block;
    width: max-content;
}


.highlight.link {

    font-weight: bolder;
    background-color: var(--color-three);
    color: rgb(3, 20, 3) !important;

}
